/* styling the header*/
header {
  text-align: center;
  background-color: #ACACAC;
  padding: 20px 10px;
  font-size: 40px;
  color: #FF0000;
}

/* setting the background color of the body*/
body {
background-color: #C2C2C2;
}

/*
p {
font-size: 30px;
color: white;
text-align: center;


}*/

/* sizing image */
.photo {
  width: 100%; 
  margin: auto; 
} 

/* styling the footer*/
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #ACACAC;
  color: #fff;
}
