/* styling the header*/
header {
  text-align: center;
  background-color: #ACACAC;
  padding: 20px 10px;
  font-size: 40px;
  color: #FF0000;
}

/* setting the background color of the body*/
body {
background-color: #C2C2C2;
}



/* sizing background image */
.photo {
  width: 150%; 
  height: auto;
  margin: auto; 
  /* -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); */
}

.col-md-6 {
max-width: 200px;
max-height: 200px;
margin:0 auto;
}

/* adding a bottom text block over image */
.text-block {
  background-color: rgb(94, 92, 92);  
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1000;
}

/* sizing and customizing images */
.bread {
   width: 500px;
  height: 300px;
 }

.soda {
    width: 500px;
  height: 300px;
 }

.tobacco {
   width: 500px;
  height: 300px;
}

.car {
   width: 500px;
  height: 300px;
  }

/* styling the footer*/
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #ACACAC;
  color: #fff;
}
/* text in image */
 .bg-container {
  background-image: url("../images/photo.jpg") !important;
  background-position: center;
} 

@media screen and (max-width:767px){
  .photo {
    max-width: 100%;
  }
}