/* styling the header*/
header {
  text-align: center;
  background-color: #ACACAC;
  padding: 20px 10px;
  font-size: 40px;
  color: #FF0000;
}

/* setting the background color of the body*/
body {
background-color: #C2C2C2;
}



/* sizing background image */
.photo {
  width: 100%; 
  margin: auto; 
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
} 

/* adding a bottom text block over image */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 50px;
  left: 50px;
  background-color: rgb(94, 92, 92);  
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* sizing and positioning images */
.bread {
  position: absolute;
  bottom: 150px;
  right: 100px;
  width: 500px;
  height: 300px;
  border:5px solid #FF0000;
  box-shadow: 5px 10px;
}

.soda {
  position: absolute;
  bottom: 150px;
  left: 100px;
  width: 500px;
  height: 300px;
  border:5px solid #FF0000;
  box-shadow: 5px 10px;
}

.tobacco {
  position: absolute;
  top: 550px;
  left: 100px;
  width: 500px;
  height: 300px;
  border:5px solid #FF0000;
  box-shadow: 5px 10px;
}

.oil {
  position: absolute;
  top: 550px;
  right: 100px;
  width: 500px;
  height: 300px;
  border:5px solid #FF0000;
  box-shadow: 5px 10px;
}

/* styling the footer*/
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #ACACAC;
  color: #fff;
}
/* text in image */
.container {
  position: relative;
}